@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --color_primary_dark: #222;
    --color_primary_accent: #FFA500;
    --color_primary_background: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 0.4vw;
}

*::-webkit-scrollbar-track {
    background: var(--color_primary_dark)
}

*::-webkit-scrollbar-thumb {
    background: var(--color_primary_accent)
}


body {
    position: relative;
    padding-left: 27.5vw;
    min-width: 320px;
    transition: all ease-in-out 0.3s;
}

section {
    min-height: 100vh;
    padding: 1.5vw 3vw;
}

section:nth-child(even), #fullScreenCertificate {
    --color_background: #FFF;
    --color_on_background: #eeeff7;
    --color_on_background_variant: #DDD;
    --color_primary_text: #000000;
    --color_secondary_text: #3A3A3A;
    --color_accent: #34a0e1;
    background-color: var(--color_background);
}

section:nth-child(odd), #fullScreenProjects {
    --color_background: #111;
    --color_on_background: #222;
    --color_on_background_variant: #333;
    --color_primary_text: #FFFFFF;
    --color_secondary_text: #C5C5C5;
    --color_accent: #FFA500;
    background-color: var(--color_background);
}

a {
    text-decoration: none !important;
    color: var(--color_primary_text);
}

a:hover {
    color: var(--color_secondary_text);
}

img {
    display: block;
}

input,
textarea {
    caret-color: var(--color_accent);
}

button {
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

::placeholder {
    color: var(--color_secondary_text);
}

::-ms-input-placeholder {
    color: var(--color_secondary_text);
}

:-ms-input-placeholder {
    color: var(--color_secondary_text);
}

.heading {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2.5vw;
    margin-bottom: 3vw;
    color: var(--color_primary_text);
}

.heading::after {
    content: "";
    position: absolute;
    bottom: -0.3vw;
    left: 0;
    height: 0.05vw;
    width: 100%;
    background-color: var(--color_accent);
}

.sub-heading {
    position: relative;
    font-weight: 500;
    font-size: 1.5vw;
    padding: 0 1.5vw;
    color: var(--color_primary_text);
}

.sub-heading-container {
    position: relative;
    width: 100%;
    padding: 2vw 1vw;
    border: 0.2vw solid var(--color_primary_text);
}

.sub-heading-container:not(:last-child) {
    margin-bottom: 4vw;
}

.sub-heading-container .sub-heading {
    position: absolute;
    top: 0;
    left: 1vw;
    background-color: var(--color_background);
    transform: translate(0, -50%);
}

.main-body {
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
}

.btn {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 500;
    background-color: var(--color_on_background);
    color: var(--color_accent);
    border: 0.2vw solid var(--color_accent);
    border-radius: 3vw;
    padding: 0.25vw 2vw;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn:hover {
    background-color: var(--color_accent);
    color: var(--color_primary_text);
}

.btn svg {
    margin-left: 0.75vw;
    font-size: 1.5vw;
}

.vartical-divider {
    width: 1px;
    align-self: stretch;
    background-color: var(--color_accent);
}

.horizontal-divider {
    height: 1px;
    align-self: stretch;
    background-color: var(--color_accent);
}

.single-line-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Header Section */
header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 27.5vw;
    background-color: var(--color_primary_dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    box-shadow: 0 0 0.5vw 0 var(--black);
    z-index: 500;
    overflow-y: scroll;
    padding: 3vh 0;
}

header .user {
    margin-bottom: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .user img {
    overflow: hidden;
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    border: 0.35vw solid var(--color_primary_accent);
    margin-bottom: 1vw;
}

header .user h1 {
    font-size: 2.5vw;
    letter-spacing: 0.1vw;
    color: var(--white);
}

header .user p {
    text-align: center;
    color: var(--color_primary_accent);
    font-size: 1.125vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

#main_menu {
    display: flex;
    list-style: none;
    font-size: 1.5vw;
    line-height: 2vw;
    font-weight: 500;
    letter-spacing: 0.1vw;
    flex-direction: column;
    align-items: center;
}

#main_menu .main-menu-item {
    color: #C5C5C5;
    cursor: pointer;
    width: 18vw;
    text-align: center;
    background: var(--color_primary_background);
    margin: 0.5vw 0;
    padding: 0.25vw 1vw;
    border-radius: 2vw;
    transition: all ease-in-out 0.3s;
}

#main_menu .active,
#main_menu .main-menu-item:hover {
    color: var(--white);
    background-color: var(--color_primary_accent);
}

#main-menu-bar {
    position: fixed;
    right: 2vw;
    top: 2vw;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1vw 3vw;
    border-radius: 0.75vw;
    z-index: 505;
    cursor: pointer;
    display: none;
}

#main-menu-bar svg {
    min-height: 3vw;
    min-width: 3vw;
}

/* Home Section */
#home .main-body {
    min-height: calc(100vh - 3vw);
    justify-content: center;
    align-items: flex-start;
}

#home .main-body h1 {
    font-weight: bold;
    font-size: 5vw;
    line-height: 5vw;
    color: var(--color_primary_text);
}

#home .main-body h1 span {
    color: var(--color_accent);
}

#home .main-body h2 {
    font-weight: 500;
    font-size: 2.75vw;
    line-height: 2.75vw;
    color: var(--color_primary_text);
    margin-bottom: 1vw;
}

.key-points {
    color: var(--color_secondary_text);
    font-size: 1.125vw;
    margin: 3vw 0;
    list-style: none;
}

.key-points li svg {
    margin-right: 0.5vw;
    color: var(--color_accent);
}

/* About Section */
.description {
    display: flex;
    align-items: center;
    margin-bottom: 2.3vw;
    font-size: 1.125vw;
}

.my-info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 3vw;
}

.my-info li {
    white-space: nowrap;
    line-height: 2.5vw;
    position: relative;
    list-style: none;
    font-weight: bold;
    color: var(--color_primary_text);
}

.my-info li span {
    margin-left: 0.625vw;
    font-weight: normal;
    color: var(--color_accent);
}

.description p {
    position: relative;
    padding-left: 3vw;
    color: var(--color_secondary_text);
    line-height: 1.85vw;
    text-align: justify;
}

.description p::first-letter {
    color: var(--color_accent);
    font-size: 2.5vw;
}

.partition-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partition-left, .partition-right {
    width: 49%;
}

.educations-container, .experience-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.25vw;
    background-color: var(--color_on_background);
    border-radius: 0.5vw;
    box-shadow: 0 0 0.325vw 0 var(--color_accent);
}

#about .sub-heading {
    padding: 0;
    margin-bottom: 1vw;
}

.education-item,
.experience-item {
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 0.3s;
}

.education-item:not(:last-child),
.experience-item:not(:last-child) {
    padding-bottom: 1.75vw;
}

.education-item::before, .experience-item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.2vw;
    background-color: var(--color_accent);
    top: 1.375vw;
    left: 1.375vw;
    transform: translateX(-50%);
    z-index: 0;
}

.education-item-top,
.experience-item-top {
    display: flex;
    align-items: center;
    margin-bottom: 0.75vw;
}

.education-item-top svg, .experience-item-top svg {
    height: 2.75vw;
    width: 2.75vw;
    border-radius: 50%;
    background-color: var(--color_accent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.125vw;
    padding: 0.35vw;
    color: var(--white);
    z-index: 1;
}

.education-title, .experience-title {
    font-weight: 500;
    font-size: 1.125vw;
    color: var(--color_primary_text);
    line-height: 1.75vw;
}

.education-date, .experience-date {
    font-weight: 300;
    font-size: 0.85vw;
    color: var(--color_secondary_text);
    line-height: 1vw;
}

.education-item-details,
.experience-item-details {
    width: calc(100% - 4vw);
}

.education-description, .experience-description {
    color: var(--color_secondary_text);
    text-align: justify;
    margin-left: 4vw;
    font-size: 1vw;
}

/* Project Section */
#project-filter-dropdown {
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--color_primary_text);
    position: relative;
    z-index: 25;
    align-self: flex-start;
    margin-bottom: 1.5vw;
}

#project-filter-selected {
    border-radius: 0.5vw;
    cursor: pointer;
    display: flex;
    color: var(--color_accent);
    align-items: center;
    min-width: 25vw;
    background-color: var(--color_on_background);
    outline: 0.2vw solid var(--color_accent);
    overflow: hidden;
}

#selected-filter {
    align-self: stretch;
    flex: 1 1 auto;
    line-height: 3.2vw;
    padding: 0 1vw;
}

#project-filter-selected svg {
    height: 3.2vw;
    width: 3.2vw;
    text-align: center;
    border-radius: 0.5vw;
    padding: 0.5vw;
}

#project-filter-selected .fa-filter {
    background-color: var(--color_accent);
    color: var(--color_primary_text);
}

#project-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    width: 100%;
    top: 125%;
    border-radius: 0.5vw;
    background-color: var(--color_on_background);
    overflow: hidden;
    outline: 0.2vw solid var(--color_accent);
    transition: all 0.3s;
}

#project-filters.colapse {
    display: none;
    opacity: 1;
}

#project-filters li {
    list-style: none;
    color: var(--color_accent);
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding-left: 4.2vw;
    line-height: 3.2vw;
}

#project-filters li:hover {
    color: var(--color_primary_text);
    border-color: var(--color_primary_text);
    background: var(--color_accent);
}

.projects-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1vw;
}

.project-item {
    width: calc(100%/3);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item.hidden, .certificate-item.hidden {
    display: none;
}

.project-item.active {
    width: 100%;
}

.project-item-card {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 0.3s;
    padding: 1vw;
}

.project-video-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
    box-shadow: 0 0 0.5vw 0p var(--color_accent);
}

.project-vdo-overlay {
    position: absolute;
    top: 0.5vw;
    bottom: 0.5vw;
    left: 0.5vw;
    right: 0.5vw;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.project-video-container .info-buttons::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    top: 1vw;
    left: 1vw;
    border-left: 0.2vw solid var(--white);
    border-top: 0.2vw solid var(--white);
}

.project-video-container .info-buttons::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 1vw;
    right: 1vw;
    border-right: 0.2vw solid var(--white);
    border-bottom: 0.2vw solid var(--white);
}

.project-vdo-overlay .info-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.controller {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1.5vw;
}

.main-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.controller .buttons {
    margin-bottom: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controller .buttons .left-buttons,
.controller .buttons .right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controller .buttons .control-btn {
    cursor: pointer;
    font-size: 1.5vw;
    display: block;
}

.controller .buttons .timestamp {
    color: var(--white);
    font-size: 1vw;
    display: block;
    cursor: default;
}

.main-buttons .control-btn {
    cursor: pointer;
    font-size: 3.5vw;
    display: block;
}

.info-buttons .control-btn {
    cursor: pointer;
    font-size: 2vw;
    display: block;
}

svg.control-btn {
    color: var(--white);
}

svg.control-btn:hover,
svg.active.control-btn {
    color: var(--color_accent);
}

.controller .buttons .left-buttons > *:not(:last-child) {
    margin-right: 1vw;
}

.controller .buttons .right-buttons > *:not(:first-child) {
    margin-left: 1vw;
}

.controller .vdo-progress {
    width: 100%;
    height: 0.2vw;
    border-radius: 0.2vw;
    cursor: pointer;
}

.project-vdo,
.certificate-img {
    width: 100%;
    height: auto;
    display: block;
}

.project-vdo {
    aspect-ratio: 16/9;
}

.project-details,
.certificate-details {
    padding-top: 0.5vw;
}

.project-title,
.certificate-title {
    font-weight: 500;
    font-size: 1.125vw;
    color: var(--color_primary_text);
    margin-bottom: 0.3vw;
}

.project-date,
.certificate-date {
    font-weight: 300;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    color: var(--color_secondary_text);
}

.project-date svg,
.certificate-date svg {
    color: var(--color_accent);
    margin-right: 0.4vw;
}

.project-vdo-overlay:hover,
.project-vdo-overlay.active {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-vdo-overlay:hover {
    opacity: 1;
}

#project-expand-btn {
    align-self: center;
}

/* Skill Section */
.skill-item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skill-item {
    margin: 0.75vw 0;
    width: calc(100% / 8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item .skill-image-link {
    display: contents;
}


.skill-item .skill-item-img-container {
    width: 65%;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0.5vw 0 var(--color_accent);
    overflow: hidden;
    padding: 1vw;
    margin-bottom: 0.25vw;
}

.skill-item .skill-item-img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.skill-item .skill-title-link {
    width: 100%;
}

.skill-item .skill-title {
    font-size: 1vw;
    padding: 0 2.5% 0 2.5%;
    text-align: center;
    color: var(--color_secondary_text);
    width: 100%;
}

.certificate-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1vw;
}

.certificate-item {
    padding: 0.5vw;
    width: calc(100% / 4);
}

.certificate-img {
    aspect-ratio: 4/3;
    cursor: pointer;
}

#certificate-expand-btn {
    margin: 0 auto;
}

/* Contact Section */
#contacts .main-body {
    flex-direction: row;
    justify-content: space-between;
}

#contact-left,
#contact-right {
    width: 45%;
}

.contact-info-box {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--color_on_background);
    border-radius: 0.5vw;
}

.contact-info-box:not(:last-child) {
    margin-bottom: 1.25vw;
}

.contact-info-heading {
    display: flex;
    align-items: center;
    color: var(--color_primary_text);
    margin-bottom: 0.75vw;
}

.contact-info-heading h2 {
    font-size: 1.5vw;
    font-weight: 500;
}

.contact-info-heading svg {
    padding: 0.5vw;
    margin-right: 1.125vw;
    background-color: var(--color_on_background_variant);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    text-align: center;
}

.contact-info {
    color: var(--color_secondary_text);
    padding-left: 4.125vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info p {
    overflow-wrap: break-word;
    max-width: calc(100% - 3vw);
    padding-right: 1vw;
    font-size: 1vw;
    font-weight: 300;
}

.contact-info .btn {
    box-sizing: initial;
    height: 2.5vw;
    width: 2.5vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info .btn svg {
    margin: 0;
}

#contact-right h2 {
    color: var(--color_accent);
    font-weight: normal;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

#contact-form .input-box {
    width: 100% !important;
    padding: 0.75vw 1.5vw;
    margin-bottom: 1.25vw;
    font-size: 1.125vw;
    border-radius: 0.5vw;
    border: none;
    background-color: var(--color_on_background);
    color: var(--color_primary_text);
}

#contact-form #message {
    resize: none;
    height: 15vw !important;
}

#contact-form button {
    float: right;
}

.loading-message {
    color: var(--color_secondary_text);
    font-size: 1.125vw;
    margin: 1vw;
}

#fullScreenProjects, #fullScreenCertificates {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.topbar {
    background-color: var(--color_on_background);
    padding: 0.5vw 2vw;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5vw 0 black;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.topbar .back-btn,
.topbar .menu-btn {
    height: 2.5vw;
    width: 2.5vw;
    padding: 0.5vw;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color_primary_text);
    transition: all ease-in-out 0.3s;
}

.topbar .back-btn:hover {
    background-color: var(--color_on_background_variant);
}

.topbar .menu-btn {
    margin: 0 0.5vw;
    background-color: var(--color_on_background_variant);
}

.topbarHeadingSection {
    flex: 1 1 auto;
    padding: 0 2vw;
}

.topbarHeading {
    font-weight: 500;
    font-size: 1.125vw;
    color: var(--color_primary_text);
}

.topbarSubHeading {
    font-weight: 300;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    color: var(--color_secondary_text);
}

.topbarSubHeading svg {
    margin-right: 0.4vw;
    color: var(--color_accent);
}

.topbarOptions {
    display: flex;
    align-items: center;
}

.topbarOptions a {
    display: contents;
}

.fullscreenArea {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

.fullscreen-vdo {
    width: 100%;
    aspect-ratio: 16/9;
    box-shadow: 0 0 0.5vw 0 var(--black);
    outline: none;
    border: none;
}

.fullscreenCertificate {
    box-shadow: 0 0 0.5vw 0 var(--black);
    outline: none;
    border: none;
}

.controlButtons {
    background-color: var(--color_on_background);
    padding: 0.5vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 0.5vw 0 black;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.btn.disabled {
    pointer-events: none;
    color: gray;
    border-color: gray;
}


/* Media Queries */
@media screen and (max-width: 1024px) {
    body {
        padding-left: 0;
    }

    section {
        padding: 2vw;
    }

    .btn {
        font-size: 2.5vw;
        border: 0.3vw solid var(--color_accent);
        padding: 0.25vw 3vw;
        border-radius: 5vw;
    }

    .btn svg {
        margin-left: 1vw;
        font-size: 3vw;
    }

    .heading {
        font-size: 5vw;
        margin-bottom: 4vw;
    }

    .heading::after {
        height: 0.15vw;
    }

    .sub-heading {
        font-size: 3vw;
    }

    .sub-heading-container {
        padding: 2.5vw 1.5vw;
    }

    header {
        width: 50vw;
        left: -50vw;
    }

    header .user img {
        height: 25vw;
        width: 25vw;
    }

    header .user h1 {
        font-size: 5vw;
    }

    header .user p {
        font-size: 2.5vw;
    }

    header.expand {
        left: 0;
    }

    #main_menu {
        font-size: 2.5vw;
        line-height: 3.75vw;
    }

    #main_menu .main-menu-item {
        width: 30vw;
        margin: 0.75vw;
        border-radius: 5vw;
    }

    #main-menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #home .main-body h2 {
        font-size: 4vw;
        line-height: 5vw;
    }

    #home .main-body h1 {
        font-size: 8vw;
        line-height: 9vw;
    }

    .key-points {
        font-size: 2.25vw;
        margin: 5vw 0;
    }

    .key-points li svg {
        margin-right: 1vw;
    }

    .description {
        align-items: flex-start;
        flex-direction: column;
        font-size: 2vw;
        margin-bottom: 3.5vw;
    }

    .my-info {
        padding-right: 0;
        margin-bottom: 2vw;
    }

    .my-info li {
        line-height: 4.25vw;
    }

    .description p {
        padding-left: 0;
        line-height: 3.5vw;
    }

    .description p::first-letter {
        font-size: 4.5vw;
    }

    .description .vartical-divider {
        display: none;
    }

    .partition-container {
        flex-direction: column;
    }

    #about .sub-heading {
        margin-bottom: 1.5vw;
    }

    .partition-left,
    .partition-right {
        width: 100%;
    }

    .partition-left {
        margin-bottom: 3vw;
    }

    .educations-container, .experience-container {
        padding: 1.75vw;
    }

    .education-item:not(:last-child), .experience-item:not(:last-child) {
        padding-bottom: 2vw;
    }

    .education-item::before, .experience-item::before {
        left: 2.5vw;
        width: 0.3vw;
    }

    .education-item-top, .experience-item-top {
        margin-bottom: 1vw;
    }

    .education-item-top svg, .experience-item-top svg {
        height: 5vw;
        width: 5vw;
        margin-right: 2vw;
        padding: 0.75vw;
    }

    .education-item-details, .experience-item-details {
        width: calc(100% - 7vw);
    }

    .education-title, .experience-title {
        font-size: 2.25vw;
        line-height: 3vw;
    }

    .education-date, .experience-date {
        font-size: 1.5vw;
        line-height: 2vw;
    }

    .education-description, .experience-description {
        margin-left: 7vw;
        font-size: 2vw;
    }

    #project-filter-dropdown {
        font-size: 2.5vw;
    }

    #project-filter-selected {
        min-width: 35vw;
        border-radius: 0.75vw;
        outline: 0.3vw solid var(--color_accent);
    }

    #project-filter-selected svg {
        height: 5vw;
        width: 5vw;
        border-radius: 0.75vw;
        padding: 1vw;
    }

    #selected-filter {
        line-height: 5vw;
        padding: 0 1.5vw;
    }

    #project-filters {
        border-radius: 0.75vw;
        outline: 0.3vw solid var(--color_accent);
    }

    #project-filters li {
        line-height: 5vw;
        padding-left: 6.5vw;
    }

    .projects-container {
        margin-bottom: 2vw;
    }

    .project-item {
        width: calc(100%/2);
    }

    .project-title, .certificate-title, .topbarHeading {
        font-size: 2.25vw;
    }

    .project-date, .certificate-date, .topbarSubHeading {
        font-size: 1.5vw;
    }

    .project-vdo-overlay {
        top: 1vw;
        bottom: 1vw;
        left: 1vw;
        right: 1vw;
    }

    .project-video-container .info-buttons::before {
        top: 2vw;
        left: 2vw;
        border-left: 0.3vw solid var(--white);
        border-top: 0.3vw solid var(--white);
    }

    .project-video-container .info-buttons::after {
        bottom: 2vw;
        right: 2vw;
        border-right: 0.3vw solid var(--white);
        border-bottom: 0.3vw solid var(--white);
    }

    .controller {
        padding: 2.5vw;
    }

    .info-buttons .control-btn {
        font-size: 5vw;
    }

    .main-buttons .control-btn {
        font-size: 7.5vw;
    }

    .controller .buttons {
        margin-bottom: 2vw;
    }

    .controller .buttons .timestamp {
        font-size: 1.5vw;
    }

    .controller .buttons .control-btn {
        font-size: 2.5vw;
    }

    .controller .buttons .right-buttons > *:not(:first-child) {
        margin-left: 2vw;
    }

    .controller .buttons .left-buttons > *:not(:last-child) {
        margin-right: 2vw;
    }

    .controller .vdo-progress {
        height: 0.5vw;
        border-radius: 0.5vw;
    }

    .skill-item {
        width: calc(100%/7);
    }

    .skill-item .skill-item-img-container {
        padding: 1.5vw;
    }

    .skill-item .skill-title {
        font-size: 2vw;
    }

    .certificate-item {
        width: calc(100%/3);
    }

    .topbar .back-btn, .topbar .menu-btn {
        height: 5vw;
        width: 5vw;
        padding: 1vw;
    }

    #contacts .main-body {
        flex-direction: column;
        justify-content: space-between;
    }

    #contact-left,
    #contact-right {
        width: 100%;
    }

    .contact-info-box:not(:last-child) {
        margin-bottom: 1.75vw;
    }

    .contact-info-heading {
        margin-bottom: 1vw;
    }

    .contact-info-heading svg {
        width: 6vw;
        height: 6vw;
        padding: 1vw;
        margin-right: 1.875vw;
    }

    .contact-info-heading h2 {
        font-size: 3vw;
    }

    .contact-info {
        padding-left: 7.875vw;
    }

    .contact-info p {
        font-size: 2vw;
        max-width: calc(100% - 5vw);
    }

    .contact-info .btn {
        height: 5vw;
        width: 5vw;
    }

    #contact-left {
        margin-bottom: 3vw;
    }

    #contact-right h2 {
        font-size: 3vw;
    }

    #contact-form .input-box {
        font-size: 2vw;
        margin-bottom: 1.75vw;
        padding: 1.25vw 2.5vw;
    }

    #contact-form #message {
        height: 30vw !important;
    }
}

@media screen and (max-width: 425px) {
    .btn {
        font-size: 4.5vw;
        padding: 0.7vw 5vw;
        border-radius: 10vw;
        border: 0.5vw solid var(--color_accent);
    }

    .btn svg {
        margin-left: 2.5vw;
        font-size: 6vw;
    }

    .heading {
        font-size: 7.5vw;
        margin-bottom: 7.5vw;
    }

    .heading::after {
        height: 0.1vw;
    }

    .sub-heading {
        font-size: 6vw;
    }

    .sub-heading-container:not(:last-child) {
        margin-bottom: 6vw;
    }

    .sub-heading-container {
        padding: 5vw 1vw;
    }

    section {
        padding: 3.5vw 2vw;
    }

    header {
        width: 100%;
        left: -100%;
    }

    header .user img {
        height: 50vw;
        width: 50vw;
    }

    header .user h1 {
        font-size: 10vw;
    }

    header .user p {
        font-size: 5vw;
    }

    #main-menu-bar {
        right: 4vw;
        top: 4vw;
        border-radius: 1.5vw;
    }

    #main-menu-bar svg {
        height: 7.5vw;
        width: 7.5vw;
    }

    #main_menu {
        font-size: 5vw;
        line-height: 7.5vw;
    }

    #main_menu .main-menu-item {
        width: 60vw;
        margin: 1.5vw;
        border-radius: 10vw;
    }

    #home .main-body h2 {
        font-size: 10vw;
        line-height: 12vw;
        margin-bottom: 5vw;
    }

    #home .main-body h1 {
        font-size: 25vw;
        line-height: 22.5vw;
    }

    .key-points {
        font-size: 4vw;
        margin: 7.5vw 0;
    }

    .key-points li svg {
        margin-right: 1.5vw;
    }

    .description {
        font-size: 4vw;
        margin-bottom: 5vw;
    }

    .my-info {
        margin-bottom: 5vw;
    }

    .my-info li {
        line-height: 7.5vw;
    }

    .description p {
        line-height: 5vw;
    }

    .description p::first-letter {
        font-size: 7.5vw;
    }

    .partition-left {
        margin-bottom: 5vw;
    }

    .educations-container, .experience-container {
        padding: 2vw;
    }

    .education-item:not(:last-child), .experience-item:not(:last-child) {
        padding-bottom: 3vw;
    }

    .education-item::before, .experience-item::before {
        left: 5vw;
        width: 0.75vw;
    }

    .education-item-top, .experience-item-top {
        margin-bottom: 1.5vw;
    }

    .education-item-top svg, .experience-item-top svg {
        height: 10vw;
        width: 10vw;
        margin-right: 3.5vw;
        padding: 1.5vw;
    }

    .education-item-details, .experience-item-details {
        width: calc(100% - 13.5vw);
    }

    .education-title, .experience-title {
        font-size: 4vw;
        line-height: 5vw;
    }

    .education-date, .experience-date {
        font-size: 3vw;
        line-height: 4vw;
    }

    .education-description, .experience-description {
        margin-left: 13.5vw;
        font-size: 3.25vw;
    }

    #project-filter-dropdown {
        font-size: 5vw;
        margin-bottom: 3vw;
        width: 100%;
    }

    #project-filter-selected {
        min-width: 60vw;
        border-radius: 0.75vw;
        outline: 0.5vw solid var(--color_accent);
    }

    #project-filter-selected svg {
        height: 10vw;
        width: 10vw;
        border-radius: 0.75vw;
        padding: 1.5vw;
    }

    #selected-filter {
        line-height: 10vw;
        padding: 0 3vw;
    }

    #project-filters {
        border-radius: 0.75vw;
        outline: 0.5vw solid var(--color_accent);
    }

    #project-filters li {
        line-height: 10vw;
        padding-left: 12.5vw;
    }

    .projects-container {
        margin-bottom: 5vw;
    }

    .project-title, .certificate-title {
        font-size: 4vw;
        margin-bottom: 0.75vw;
    }

    .topbarHeading {
        font-size: 4vw;
    }

    .project-date, .certificate-date, .topbarSubHeading {
        font-size: 3vw;
    }

    .project-item {
        width: 100%;
    }

    .project-item-card {
        padding: 2.5vw;
    }

    .project-video-container .info-buttons::before {
        top: 4vw;
        left: 4vw;
        border-left: 0.5vw solid var(--white);
        border-top: 0.5vw solid var(--white);
    }

    .project-video-container .info-buttons::after {
        bottom: 4vw;
        right: 4vw;
        border-right: 0.5vw solid var(--white);
        border-bottom: 0.5vw solid var(--white);
    }

    .info-buttons .control-btn {
        font-size: 10vw;
    }

    .controller {
        padding: 3vw;
    }

    .main-buttons .control-btn {
        font-size: 10.5vw;
    }

    .controller .buttons {
        margin-bottom: 2.5vw;
    }

    .controller .buttons .timestamp {
        font-size: 2.75vw;
        font-weight: 300;
    }

    .controller .buttons .control-btn {
        font-size: 4.5vw;
    }

    .controller .buttons .right-buttons > *:not(:first-child) {
        margin-left: 3.5vw;
    }

    .controller .buttons .left-buttons > *:not(:last-child) {
        margin-right: 3.5vw;
    }

    .controller .vdo-progress {
        height: 0.85vw;
        border-radius: 0.85vw;
    }

    .skill-item {
        width: calc(100%/4);
    }

    .skill-item .skill-item-img-container {
        padding: 2.5vw;
    }

    .skill-item .skill-title {
        font-size: 3.5vw;
    }

    .certificate-container {
        margin-bottom: 5vw;
    }

    .certificate-item {
        padding: 1.5vw;
        width: 50%;
    }

    .contact-info-box:not(:last-child) {
        margin-bottom: 5vw;
    }

    .contact-info-heading {
        margin-bottom: 1vw;
    }

    .contact-info-heading svg {
        width: 10vw;
        height: 10vw;
        padding: 1.5vw;
        margin-right: 3.5vw;
    }

    .contact-info-heading h2 {
        font-size: 6vw;
    }

    .contact-info {
        padding-left: 13.5vw;
    }

    .contact-info p {
        font-size: 4vw;
        max-width: calc(100% - 10vw);
    }

    .contact-info .btn {
        height: 9vw;
        width: 9vw;
    }

    .topbar .back-btn, .topbar .menu-btn {
        height: 7.5vw;
        width: 7.5vw;
        padding: 1.25vw;
    }

    #contact-left {
        margin-bottom: 5vw;
    }

    #contact-right h2 {
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    #contact-form .input-box {
        font-size: 4vw;
        margin-bottom: 3vw;
        padding: 1.5vw 3vw;
    }

    #contact-form #message {
        height: 40vw !important;
    }
}