@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --color_primary_dark: #222;
    --color_primary_accent: #FFA500;
    --color_primary_background: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: var(--color_primary_dark)
}

*::-webkit-scrollbar-thumb {
    background: var(--color_primary_accent)
}


body {
    position: relative;
    padding-left: 25rem;
    min-width: 320px;
    transition: all ease-in-out 0.3s;
}

section {
    min-height: 100vh;
    padding: 1.5rem 3rem;
}

section:nth-child(even) {
    --color_background: #FFF;
    --color_on_background: #EEE;
    --color_on_background_variant: #DDD;
    --color_primary_text: #000000;
    --color_secondary_text: #3A3A3A;
    --color_accent: #008B8B;

    background-color: var(--color_background);
}

section:nth-child(odd) {
    --color_background: #111;
    --color_on_background: #222;
    --color_on_background_variant: #333;
    --color_primary_text: #FFFFFF;
    --color_secondary_text: #C5C5C5;
    --color_accent: #FFA500;

    background-color: var(--color_background);
}

a {
    text-decoration: none !important;
    color: var(--color_primary_text);
}

a:hover {
    color: var(--color_secondary_text);
}

img {
    display: block;
}

input,
textarea {
    caret-color: var(--color_accent);
}

button {
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

::placeholder {
    color: var(--color_secondary_text);
}

::-ms-input-placeholder {
    color: var(--color_secondary_text);
}

:-ms-input-placeholder {
    color: var(--color_secondary_text);
}

.heading {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 40px;
    color: var(--color_primary_text);
}

.heading::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color_accent);
}

.sub-heading {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    padding: 0 1rem;
    color: var(--color_primary_text);
}

.sub-heading-container {
    position: relative;
    width: 100%;
    padding: 1.5rem 0.5rem;
    border: 2px solid var(--color_primary_text);
}

.sub-heading-container:not(:last-child) {
    margin-bottom: 50px;
}

.sub-heading-container .sub-heading {
    position: absolute;
    top: 0;
    left: 1rem;
    background-color: var(--color_background);
    transform: translate(0, -50%);
}

.main-body {
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
}

.btn {
    font-size: 1.125rem;
    background-color: var(--color_on_background_variant);
    color: var(--color_accent);
    border: 2px solid var(--color_accent);
    border-radius: 3rem;
    padding: 0.625rem 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn:hover {
    background-color: var(--color_accent);
    color: var(--color_primary_text);
}

.btn i {
    margin-left: 10px;
}

.vartical-divider {
    width: 1px;
    align-self: stretch;
    background-color: var(--color_accent);
}

.horizontal-divider {
    height: 1px;
    align-self: stretch;
    background-color: var(--color_accent);
}

.single-line-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Header Section */
header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 25rem;
    background-color: var(--color_primary_dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 5px 0px var(--black);
    z-index: 500;
}

header .user {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .user img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 5px solid var(--color_primary_accent);
}

header .user h1 {
    font-size: 36px;
    letter-spacing: 0.05em;
    color: var(--white);
}

header .user p {
    text-align: center;
    color: var(--color_primary_accent);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

#main_menu {
    display: flex;
    list-style: none;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
}

#main_menu .main-menu-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #C5C5C5;
    cursor: pointer;
    letter-spacing: 0.05em;
    width: 15rem;
    text-align: center;
    background: var(--color_primary_background);
    margin: 5px 0;
    padding: 6px 10px;
    border-radius: 36px;
    transition: all ease-in-out 0.3s;
}

#main_menu .active,
#main_menu .main-menu-item:hover {
    color: var(--white);
    background-color: var(--color_primary_accent);
}

#main-menu-bar {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 8px;
    z-index: 505;
    cursor: pointer;
    display: none;
    width: 70px;
    text-align: center;
}

/* Home Section */
#home .main-body {
    min-height: calc(100vh - 3rem);
    justify-content: center;
    align-items: flex-start;
}

#home .main-body h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: var(--color_primary_text);
}

#home .main-body h1 span {
    color: var(--color_accent);
}

#home .main-body h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: var(--color_primary_text);
    margin-bottom: 20px;
}

.key-points {
    color: var(--color_secondary_text);
    font-size: 1rem;
    margin: 2rem 0;
    list-style: none;
}

.key-points li i {
    margin-right: 0.5rem;
    color: var(--color_accent);
}

/* About Section */
.description {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.my-info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 2.5rem;
}

.my-info li {
    white-space: nowrap;
    line-height: 2.25rem;
    position: relative;
    list-style: none;
    font-weight: bold;
    color: var(--color_primary_text);
}

.my-info li:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5px;
    background-color: var(--color_accent);
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    opacity: 0.5;
    display: none;
}

.my-info li span {
    margin-left: 0.625rem;
    font-weight: normal;
    color: var(--color_accent);
}

.description p {
    position: relative;
    padding-left: 2.5rem;
    color: var(--color_secondary_text);
    font-size: 1rem;
    text-align: justify;
}

.description p::first-letter {
    color: var(--color_accent);
    font-size: 2rem;
}

.partition-container {
    display: flex;
    flex-direction: row;
}

.partition-left, .partition-right {
    padding: 0.5rem;
    width: 50%;
}

.educations-container, .experience-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    background-color: var(--color_on_background);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 var(--color_accent);
}

#about .sub-heading {
    padding: 0;
    margin-bottom: 0.5rem;
}

.education-item, .experience-item {
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 0.3s;
}

.education-item:not(:last-child), .experience-item:not(:last-child) {
    padding-bottom: 1.5rem;
}

.education-item::before, .experience-item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--color_accent);
    top: 0;
    left: 0;
    transform: translateX(20px);
    z-index: 0;
}

.education-item-top, .experience-item-top {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.education-item-top i, .experience-item-top i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color_accent);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: var(--white);
    z-index: 1;
}

.education-title, .experience-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--color_primary_text);
    line-height: 24px;
}

.education-date, .experience-date {
    font-weight: 300;
    font-size: 12px;
    color: var(--color_secondary_text);
    line-height: 16px;
}

.education-item-details, .experience-item-details {
    width: calc(100% - 56px);
}

.education-description, .experience-description {
    color: var(--color_secondary_text);
    text-align: justify;
    margin-left: 56px;
    font-size: 0.875rem;
}

/* Project Section */
#projects .main-body {
    align-items: center;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.project-item {
    width: calc(100%/3);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-item-card {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
    padding: 1rem;
}

.project-thumbnail {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
    box-shadow: 0 0 5px 0px var(--color_accent);
}

.project-thumbnail .project-info {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

.project-thumbnail .project-info::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    top: 15px;
    left: 15px;
    border-left: 3px solid var(--white);
    border-top: 3px solid var(--white);
}

.project-thumbnail .project-info::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 15px;
    right: 15px;
    border-right: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
}

.project-thumbnail .project-info a i {
    color: var(--white);
    font-size: 2rem;
}

.project-thumbnail a i:hover {
    color: var(--color_accent);
}

.project-vdo,
.certificate-img {
    width: 100%;
    height: auto;
    display: block;
}

.project-vdo {
    aspect-ratio: 16/9;
}

.project-details,
.certificate-details {
    padding-top: 10px;
}

.project-title,
.certificate-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--color_primary_text);
    margin-bottom: 4px;
}

.project-date,
.certificate-date {
    font-weight: 300;
    font-size: 12px;
    color: var(--color_secondary_text);
}

.project-item-card:hover .project-thumbnail .project-info {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

/* .project-item-card:hover {
    margin: 0;
} */

#project-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project-filters li {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: var(--color_accent);
    border-radius: 0.3rem;
    border: 2px solid var(--color_accent);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

#project-filters .active,
#project-filters li:hover {
    color: var(--color_primary_text);
    border-color: var(--color_primary_text);
    background: var(--color_accent);
}

#project-expand-btn {
    margin: 1rem;
}

/* Skill Section */
.skill-item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skill-item {
    margin: 10px 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item .skill-item-img-container {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px var(--color_accent);
    overflow: hidden;
    padding: 0.85rem;
    margin-bottom: 0.3rem;
}

.skill-item .skill-item-img-container img {
    height: 100%;
    width: 100%;
}

.skill-item .skill-title-link {
    width: 100%;
}

.skill-item .skill-title {
    padding: 0 5% 0 5%;
    text-align: center;
    color: var(--color_secondary_text);
    width: 100%;
}

.certificate-item {
    padding: 0.5rem;
}

.certificate-img {
    aspect-ratio: 4/3;
}

.certificate-indicater {
    position: initial !important;
}

.react-multi-carousel-dot button {
    margin: 0 3px !important;
    border-color: var(--color_secondary_text) !important;
}

.react-multi-carousel-dot--active button,
.react-multi-carousel-dot button:hover {
    background: var(--color_accent) !important;
    border-color: var(--color_accent) !important;
}

/* Contact Section */
#contacts .main-body {
    flex-direction: row;
    justify-content: space-between;
}

#contact-left,
#contact-right {
    width: 45%;
}

.contact-info-box {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--color_on_background);
    border-radius: 0.5rem;
}

.contact-info-box:not(:last-child) {
    margin-bottom: 1rem;
}

.contact-info-heading {
    display: flex;
    align-items: center;
    color: var(--color_primary_text);
    margin-bottom: 0.5rem;
}

.contact-info-heading h2 {
    font-weight: normal;
}

.contact-info-heading i {
    margin-right: 1rem;
    background-color: var(--color_on_background_variant);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    font-size: 1.25rem;
}

.contact-info {
    color: var(--color_secondary_text);
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info p {
    overflow-wrap: break-word;
    max-width: calc(100% - 2.5rem);
    padding-right: 1rem;
}

.contact-info .btn {
    box-sizing: initial;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.25rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info .btn i {
    margin: 0;
}

#contact-right h2 {
    color: var(--color_accent);
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact-form .input-box {
    width: 100% !important;
    padding: 0.625rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color_on_background);
    color: var(--color_primary_text);
}

#contact-form #message {
    resize: none;
    height: 12rem !important;
}

#contact-form button {
    float: right;
}

/* Media Queries */
@media screen and (max-width: 1440px) {
    body {
        padding-left: 20rem;
    }

    header {
        width: 20rem;
    }

    header .user img {
        height: 10rem;
        width: 10rem;
    }

    header .user h1 {
        font-size: 30px;
    }

    header .user p {
        font-size: 16px;
    }

    .project-item {
        width: calc(100%/2);
    }

    .description {
        align-items: flex-start;
        flex-direction: column;
    }

    .my-info {
        padding-right: 0;
    }

    .description p {
        padding-left: 0;
    }

    .description .vartical-divider {
        display: none;
    }

    .partition-container {
        flex-direction: column;
    }

    .partition-left, .partition-right {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding-left: 0;
    }

    section {
        padding: 1.5rem;
    }

    .sub-heading-container {
        padding: 40px 20px;
    }

    header {
        width: 25rem;
        left: -25rem;
    }

    header .user img {
        height: 12rem;
        width: 12rem;
    }

    header .user h1 {
        font-size: 36px;
    }

    header .user p {
        font-size: 18px;
    }

    header.expand {
        left: 0;
    }

    #main-menu-bar {
        display: block;
    }

    #contacts .main-body {
        flex-direction: column;
        justify-content: space-between;
    }

    #contact-left,
    #contact-right {
        width: 100%;
    }

    .contact-info-box:last-child {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    header {
        width: 100%;
        left: -100%;
    }

    section {
        padding: 1rem;
    }

    .sub-heading-container {
        padding: 30px 5px;
    }

    .project-item {
        width: 100%;
    }
}